Repository nosportugal/terraform-gce-atlantis, changes with the labels that .github/labeler.yaml gives for each.
All labels: github-actions, documentation, legal, examples

.github/labeler.yaml:

github-actions:
  - changed-files:
      - any-glob-to-any-file:
        - '.github/**'

documentation:
  - changed-files:
      - any-glob-to-any-file:
        - 'README.md'
        - '**/*.md'

legal:
  - changed-files:
      - any-glob-to-any-file:
        - 'LICENSE'

examples:
  - changed-files:
      - any-glob-to-any-file:
        - 'example/**'

Add validation to autoscaling variable
  variables.tf
Labels: none

feat: add option to expose /healthz without IAP
  README.md
  main.tf
  variables.tf
Labels: documentation

feat: Update container module version to 3.2.0 and add 'enabled' variable in 'iap' object
  main.tf
  variables.tf
Labels: none

Allow terraform-docs push
  .github/workflows/ci.yaml
Labels: github-actions

chore: add terraform-docs.yaml
  terraform-docs.yaml
Labels: none

docs: fix readme
  README.md
Labels: documentation

chore: add .terraform-docs.yaml
  .github/workflows/ci.yaml
  .terraform-docs.yml
  terraform-docs.yaml
Labels: github-actions

feat!: autoscaler with scaling schedules
  README.md
  examples/autoscaling/README.md
  examples/autoscaling/main.tf
  examples/autoscaling/server-atlantis.yaml
  main.tf
  variables.tf
Labels: documentation

feat: add option to override image entrypoint and command
  main.tf
  variables.tf
Labels: none

docs: modify secure-env-vars example to use a custom entrypoint
  README.md
  examples/secure-env-vars/.github/workflows/docker-gcp-secrets.yaml
  examples/secure-env-vars/.github/workflows/docker-github-secrets.yaml
  examples/secure-env-vars/Dockerfile
  examples/secure-env-vars/README.md
  examples/secure-env-vars/cloudbuild.yaml
  examples/secure-env-vars/custom-entrypoint.sh.tftpl
  examples/secure-env-vars/main.tf
  examples/secure-env-vars/server-atlantis.yaml
Labels: documentation

feat: add machine_image variable
  README.md
  main.tf
  variables.tf
Labels: documentation

fix: optional google_compute_image
  main.tf
  outputs.tf
Labels: none

Add project to google_compute_disk
  main.tf
Labels: none

refactor!: gce-container-declaration deprecation
  README.md
  main.tf
  variables.tf
Labels: documentation

fix: mount disk using cloud init
  main.tf
Labels: none

fix: mount disk using cloud init (blkid)
  main.tf
Labels: none

increase mig healthcheck timeouts
  main.tf
Labels: none

chore: update health check thresholds and timeout settings
  main.tf
Labels: none

chore: fix threshold
  main.tf
Labels: none

Revert "chore: fix threshold"
  main.tf
Labels: none

Revert "chore: update health check thresholds and timeout settings"
  main.tf
Labels: none

Revert "increase mig healthcheck timeouts"
  main.tf
Labels: none
